    <meta charset="utf-8" />
<link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
<link rel="icon" type="image/png" href="./img/profile-city.jpeg">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<title>
      atRest
</title>

<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

</head>
<body class="landing-page">
  <nav class="navbar navbar-default fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
      <div class="container">
          <div class="navbar-translate">
              <strong><%= link_to "atRest", root_path, :style =>"text-decoration: none; color: black;", :class => "navbar-brand" %></strong>
          </div>
      </div>
  </nav>
    <div class="page-header" style="background-color:white;" data-parallax="true" >
        
    <div class="container">
        <div class="row">
      <div class="col-md-6">
        <h1 class="title" style="color:#404040;">Peer-to-Peer Housing First.</h1>
                <h4 style="color:#404040;">We bring the sharing economy to practical use. With atRest, you can house your friends safely with donations.</h4>
                <br>
                <!-- signup for newsletter here -->
                <button class="btn btn-success" style="background-color: green; color:white;"><%= link_to "Support Now", new_charge_path, :style=>"color:white;" %></button>
          </div>
        </div>
    </div>
</div>



<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-34842344-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-34842344-2');
</script>

  </body>
</html>