
         <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow navbar fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
    <div class="container">
        <div class="navbar-translate">
            <strong><%= link_to "atRest", root_path, :style =>"text-decoration: none; color: black;", :class => "navbar-brand" %></strong>
        </div>
</div>
</div>

    <div class="page-header" data-parallax="true" style="background-image: url('./assets/profile_city.jpg');" ></div>

<div class="main main-raised">
    <div class="profile-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <div class="profile">
                        <div class="avatar">
                           <%= image_tag(('photo.jpg'), :class => "img-raised rounded-circle img-fluid")%>
                        </div>
                        <div class="name">
                            <h3 class="title">Max Goodman</h3>
                            <h6>founder<br /> && <br />full stack developer</h6>
                            <a href="http://www.twitter.com/maxxgrok" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>
                            <a class="btn btn-just-icon btn-link btn-linkedin" href="https://www.github.com/maxgrok" /><i class="fa fa-github"></i></a>
                            <a class="btn btn-just-icon btn-link btn-linkedin" href="https://www.linkedin.com/in/max-g-33665718/" /><i class="fa fa-linkedin-square"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="description text-center">
                <p>A curious and passionate technologist, Max can be found tinkering with social problems all day. atRest is their new project dedicated to providing housing to friends, by friends.</p>
            </div>
            <br />
            <br />
            <hr>

            </div>
        </div>
    </div>
</div>
<footer class="footer footer-default" >
    <div class="container">
        <nav class="float-left">
         
          </ul>
        </nav>
        <div class="copyright float-right">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>
        </div>
    </div>
</footer>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-34842344-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-34842344-2');
</script>

  </body>
</html>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-34842344-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-34842344-2');
</script>

  </body>
</html>
